<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/layout.css" th:href="@{/layout.css}"/>
    <script src="../static/main.js" th:src="@{/main.js}"></script>
    <title>Box Office</title>
</head>
<body>

<header>
    <img src="../static/images/boxOffice.jpg" th:src="@{/images/boxOffice.jpg}" alt="Box Office header"/>
    <h1>BOX OFFICE NUMBERS</h1>
    <h6>COMPARE THE TOP FILMS</h6>
</header>

<main>
    <nav>
        <ul>
            <li><a href="home.html" th:href="@{/}">Home</a></li>
            <div class="dropdown">
                <li>
                    <a onclick="show_menu()" class="dropdownlink">2017 box office</a>
                </li>
                <div id="2017" class="menuitems">
                    <li><a href="starWars.html" th:href="@{/starWars}">Star Wars: The Last Jedi</a></li>
                    <li><a href="beauty.html" th:href="@{/beauty}">Beauty and the Beast</a></li>
                    <li><a href="fate.html" th:href="@{/fate}">Fate of the Furious</a></li>
                </div>
            </div>
            <div class="dropdown">
                <li>
                    <a onclick="show_menu2()" class="dropdownlink">2018 box office</a>
                </li>
                <div id="box office" class="menuitems">
                    <li><a href="avengers.html" th:href="@{/avengers}">Avengers</a></li>
                    <li><a href="panther.html" th:href="@{/panther}">Black Panther</a></li>
                    <li><a href="jurassic.html" th:href="@{/jurassic}">Jurassic World</a></li>
                </div>
            </div>
            <li><a href="userProfile.html" th:href="@{/userProfile}">Profile</a></li>
            <li><a href="register.html" th:href="@{/register}">Register</a></li>
            <li><a href="compare.html" th:href="@{/compare}">Calculate Box Office</a></li>
        </ul>

    </nav>

    <article>
        <!--Content on this site is sourced from Wikipedia -->
        <h1><center>CALCULATE THE BOX OFFICE TOTAL FOR ALL THE FILMS</center></h1>
        <p> Press the button below to caluclate how much the top 10 films for the last two years have made collectively.
            The button calcualtes the box office total of all twenty films</p>
        <center>
        <button onclick="showGross()">Calculate</button>
        </center>
        <center>
        <h1 id="totalGross"></h1>
        </center>
        <table id="tbl">
            <tr>
                <th>No.</th>
                <th>Film Name</th>
                <th>Director</th>
                <th>Studio</th>
                <th>Gross</th>
                <th>Year</th>
            </tr>
            <tr th:each="film : ${films.films}">
                <td th:text="${film.place}" >ID</td>
                <td th:text="${film.filmName}" >2</td>
                <td th:text="${film.director}" >2</td>
                <td th:text="${film.studio}" >2</td>
                <td th:text="${film.gross}" id="gross">2</td>
                <td th:text="${film.year}" >Year</td>
            </tr>
        </table>
        <br />
        <br />


    </article>

    <footer>
        &copy; A. Zenasni 2019
    </footer>
</main>
</body>
</html>